<!DOCTYPE html>
<html lang="{{ app.request.locale|default('fr') }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      referrerpolicy="no-referrer"
    />

    <title>{% block title %}Welcome!{% endblock %}</title>



    {% block javascripts %}
      {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
  </head>

  {# IMPORTANT: layout controller sur body (scope global) #}
  <body >
        <main class="main-content">

          {% block body %}{% endblock %}


        </main>


    {% block page_scripts %}{% endblock %}
  </body>
</html>